h2 Schema 

.everything
    .list-item.database 
        span.fa.fa-database 
        |  #{databaseName}
    .list.schemata
        each schema in schemata
            - var schemaIdentifier = "schema-" + schema.name;
            .list-item.schema(rel="#" + schemaIdentifier)
                span.fa &#x25C8;&nbsp;
                span=schema.name
            .list.relations.collapsed(id=schemaIdentifier)
                each array, key in schema
                    if key == "name" 
                        - continue;
                    - var relationIdentifier = schemaIdentifier + "-" + key
                    .list-item.relation-type(rel="#" + relationIdentifier)
                        span #{key} (#{array.length})
                    .list.relations.collapsed(id=relationIdentifier)
                        each relation in array
                            .list-item.relation(data-schema=schema.name, data-relation=relation.name, data-relation-type=relation.kind)
                                span.fa.fa-table
                                |  
                                span(href="#" + relationIdentifier + "-info") #{relation.name}
