extend ../layout/main

block content
    section.connections.panels.flex-column
        each connection in connections
            .connection.panel.flex-1
                .panel-heading.break-all(style="background-color:##{connection.color}") 
                    i.fa.fa-database
                    |  #{connection.title}
                    a.right(href="/connections/edit/" + connection.connectionId)
                        i.fa.fa-pencil(title="Edit")
                .panel-body.pure-g.break-all
                    .pure-u-1-4
                        strong Hostname
                    .pure-u-3-4
                        span.mono=connection.hostname
                    .pure-u-1-4
                        strong Database
                    .pure-u-3-4
                        span.mono=connection.database
                    .pure-u-1-4
                        strong Username
                    .pure-u-3-4
                        span.mono=connection.username
                .panel-footer
                    a(href="/connection/" + connection.connectionId + "/console") console
                    |  &mdash;  
                    a(href="/connection/" + connection.connectionId + "/schema") schema
                    |  &mdash;  
                    a(href="/connection/" + connection.connectionId + "/queries") queries
                    |  &mdash;  
                    a(href="/connection/" + connection.connectionId + "/reports") reports
        .panel.new-connection.text-center.flex-1
            .panel-body
                a(href="/connections/create")
                    i.fa.fa-plus
                    |  Add connection
            
                        
