extend ../layout/main

block append js
    script(src="/js/connections.js")

block content
    section.connections.panels.center
        each connection in connections
            .connection.panel(data-id=connection.connectionId)
                .panel-heading.break-all.clearfix(style="background-color:##{connection.color}") 
                    a.right.icon-button.pure-button-primary(href="/edit/" + connection.connectionId + "/" + connection.urlTitle)
                        i.fa.fa-pencil(title="Edit")
                    i.fa.fa-database
                    |  #{connection.title}
                .panel-body.pure-g.break-all
                    .pure-u-1-4
                        strong Hostname
                    .pure-u-3-4
                        span.mono=connection.hostname
                    .pure-u-1-4
                        strong Database
                    .pure-u-3-4
                        span.mono=connection.database
                    .pure-u-1-4
                        strong Username
                    .pure-u-3-4
                        span.mono=connection.username
                .panel-footer
                    a(href="/console/" + connection.connectionId + "/" + connection.urlTitle) console
                    |  &mdash;  
                    a(href="/schema/" + connection.connectionId + "/" + connection.urlTitle) schema
                    //- |  &mdash;
                    //- a(href="/connection/" + connection.connectionId + "/queries") queries
                    //- |  &mdash;
                    //- a(href="/connection/" + connection.connectionId + "/reports") reports
        .panel.new-connection.text-center.flex-1
            .panel-body
                a(href="/create")
                    i.fa.fa-plus
                    |  Add connection
            
                        
