extends ../layout/modal

block inner
    - var isNew = Boolean(connection);
    .panel
        form#connection-form.pure-form.pure-form-aligned(method="post")
            .panel-heading.break-all 
                if connection
                    | Edit Connection
                else
                    | Create Connection 
            .panel-body.break-all
                    fieldset
                        if connection
                            .pure-control-group
                                label(for="connectionId") ID
                                input#connectionId(type=text, name="connectionId", value=connection.connectionId, readonly)
                        .pure-control-group
                            label(for="name") Name
                            input#name(type=text, name="name", value=connection.name, placeholder="username@hostname/database")
                        .pure-control-group
                            label(for="type") Type  
                            select#type(name="databaseType", value=connection.databaseType, required)
                                option
                                each databaseTypeName, databaseTypeKey in config.databaseTypes
                                    option(value=databaseTypeKey, selected=connection.databaseType === databaseTypeKey)=databaseTypeName
                        .pure-control-group
                            label(for="color") Color
                            select#color(name="color", value=connection.color)
                                option
                                each colorName, color in config.connectionColors
                                    option(value=color, selected=connection.color === color)=colorName
                                //- option(value="CA4653") Red
                                //- option(value="E99240") Orange
                                //- option(value="E5E16D") Yellow
                                //- option(value="65B553") Green
                                //- option(value="099EA1") Blue
                    fieldset
                        .pure-control-group
                            label(for="hostname") Hostname
                            input#hostname(type=text, name="hostname", value=connection.hostname, required)
                        .pure-control-group
                            label(for="database") Database
                            input#database(type=text, name="database", value=connection.database, required)
                        .pure-control-group
                            label(for="username") Username
                            input#username(type=text, name="username", value=connection.username, required)
                        .pure-control-group
                            label(for="password") Password
                            input#password(type=text, name="password", value=connection.password, required)
                        .pure-control-group.text-center
                            button.pure-button Test Connection  
            .panel-footer.clearfix
                .right
                    a.pure-button(href="/connections") Cancel
                    input.pure-button.pure-button-primary(type="submit", form="connection-form", value="Save")