extends ../layout/modal

block append js
    script(src="/js/connectionEdit.js?v=" + appVersion)

block append style
    link(rel="stylesheet", href="/css/connection.css?v=" + appVersion)

block inner
    - var isNew = !Boolean(connection.connectionId);
    #connection-edit-view.panel
        .panel-heading
            if isNew
                | Create Connection
            else
                | Edit Connection
        .panel-body
            form#connection-form.pure-form.pure-form-aligned(method="post")
                fieldset
                    if connection.connectionId
                        .pure-control-group
                            label(for="connectionId") ID
                            input#connectionId(type=text, name="connectionId", value=connection.connectionId, readonly)
                    .pure-control-group
                        label(for="name") Name
                        input#name(type=text, name="name", value=connection.name, placeholder="username@hostname/database")
                    .pure-control-group
                        label(for="type") Type
                        select#type(name="databaseType", value=connection.databaseType, required)
                            each databaseTypeName, databaseTypeKey in config.databaseTypes
                                option(value=databaseTypeKey, selected=connection.databaseType === databaseTypeKey)=databaseTypeName
                    .pure-control-group
                        label(for="color") Color
                        #color.color-picker
                            input.color-input(type="hidden", name="color", value=connection.color)
                            .color(class=connection.color ? "" : "selected")
                            each colorName, color in config.connectionColors
                                .color(style="background-color:#" + color, value=color, class=connection.color === color ? "selected" : "")
                fieldset
                    .pure-control-group
                        label(for="hostname") Hostname
                        input#hostname(type=text, name="hostname", value=connection.hostname, required)
                    .pure-control-group
                        label(for="port") Port
                        input#port(type=text, name="port", value=connection.port)
                    .pure-control-group
                        label(for="database") Database
                        input#database(type=text, name="database", value=connection.database, required)
                    .pure-control-group
                        label(for="username") Username
                        input#username(type=text, name="username", value=connection.username, required)
                    .pure-control-group
                        label(for="password") Password
                        input#password(type=text, name="password", value=connection.password, required)
                    //-.pure-control-group.text-center
                        button.pure-button Test Connection
        .panel-footer.clearfix
            if !isNew
                .left
                    form#delete-form(method="post", action="/delete/" + connection.connectionId)
                    form#clone-form(method="post", action="/clone/" + connection.connectionId)

                    button.pure-button(type="submit", form="delete-form", value="Delete")
                        i.fa.fa-trash-o
                        |  Delete
                    button.pure-button(type="submit", form="clone-form", value="Clone")
                        i.fa.fa-copy
                        |  Clone
            .right
                a.pure-button(href="/") Cancel
                button.pure-button.pure-button-primary.save-button(type="submit", form="connection-form", value="Save")
                    i.fa.fa-floppy-o
                    |  Save
