extend ../layout/main

block append style
    link(rel="stylesheet", href="/module/codemirror/lib/codemirror.css?v=" + appVersion)
    link(rel="stylesheet", href="/css/console.css?v=" + appVersion)
    if connection.color
        style.
            .CodeMirror-gutters {
                background-color: ##{connection.color};
            }

            .CodeMirror-linenumber {
                color: #616161;
            }

block append js
    script.
        App.connectionId = "#{connection.connectionId}";
    script(src="/js/console.js?v=" + appVersion)

block content
    .wrapper.console.flex-column
        .statement-area.pure-form.flex-6.flex-column.pad(style="flex-basis:400px")
            .console-input-outer.flex.flex-1
                .flex-5.relative.margin-right
                    fieldset
                        legend Statement
                        textarea.mono.console-input(name="query", placeholder="Statement", spellcheck="false", required, autofocus)=query
                .flex-1.parameters
                    fieldset
                        legend Parameters
                        ol.params
                            li: input.param.mono(type="text", name="param")
                        a.clear-button.right(href="#") clear
            .execute
                fieldset
                    .right
                        label(for="limitInput") Limit&nbsp;
                        input#limitInput(type="number", value=1000, min=1, name="limit")
                    input.pure-button.pure-button-primary.execute-statement-button(type="submit", value="Execute", title="Execute (ctrl+enter)", tabindex=-1)
                    | &nbsp;
                    span.result-stats
                        input.timer.mono(type="text", readonly=true, value="0ms")
                        |  &bull;&nbsp;
                        input.result-count.mono(type="text", readonly=true, value="0 results")
        .result-area.flex-4.pad.scroll(style="flex-basis:400px")
            .results
